/* mixin */
.padding-wrap {
  padding: 0 12px 0 8px;
}


.cm-panel {
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
  font-size: 14px;
  position: relative;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2px 4px #eee;

  &.fullscreen {
    position: fixed !important;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
  }
}

.cm-panel-header {
  padding: 0 12px 0 8px;
  height: 50px;
  display: flex;
  align-items: center;

  .title {
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 700;
    border-left: 3px solid #1890ff;
    padding-left: 10px;
    margin-right: 10px;

    .anticon {
      margin-left: 4px;
      font-size: 14px;
    }
  }

  .content {
    flex: 1;
  }

  .expand {
    margin-left: 10px;
    cursor: pointer;
  }

}

.cm-panel .body {
  padding: 0 12px 10px 8px;
}
